.custom-table{
    th ,  td{
        padding: 15px;
        border-bottom: 1px solid #ebebeb;
        border-top:1px solid #ebebeb;
        font-size: 120%;
        text-align: center;

       &:first-child{
            width: 50%;
            text-align: right;
        }
    }
    .custom-media{
        margin: 15px 15px 0;

         img{
            width: 80px;
            height: 80px;
            border: 1px solid #ebebeb;
            margin-left: 10px;
        }
        .media-body h4{
            font-size: 21px;
            margin: 12px 0;
        }
    }
    th{
        font-weight: normal;
        color: #c2c2c2;

       &:first-child{
            padding-right: 20px;
        }
    }
    .quantity{
        width: 56px;
        height: 34px !important;
        padding: 0 8px;
        margin:  0 auto;
    }
    tfoot{
        td{
            border-bottom: none;
            font-size: 150%;
        }
    } 
    .total-price *{
        color: #000;
    }
    .total-price .custom-text-muted .custom-text-muted{
        color: #a9a9a9;
    }
}
 



